{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% load humanize %}

{% block content%}
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Property Searching Just Got So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Make, Model, Year, etc)"  value="{{ values.keywords }}">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Type</label>
                  <select name="type" class="form-control">
                    <option selected="true" disabled="disabled"> Type</option>
                    {% for key,value in type_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.type %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Engine</label>
                  <select name="engine" class="form-control">
                    <option selected="true" disabled="disabled"> Engine</option>
                    {% for key,value in engine_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.engine %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Color</label>
                  <select name="color" class="form-control">
                    <option selected="true" disabled="disabled">Color</option>
                    {% for key,value in color_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.color %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price </option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="listings.html">Browse Listings</a>
          </li>
          <li class="breadcrumb-item active"> Search Results</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

         {% if listings %}
          {% for listing in listings %}
            <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{ listing.main_photo.url}}" alt="alternative">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{listing.price | intcomma}}$</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ listing.make }}</h4>
                <p>
                  <i class="fas fa-car text-secondary"></i>   {{ listing.model }}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-history"></i> {{ listing.year }}</div>
                <div class="col-6">
                  <i class="fas fa-tachometer-alt"></i> {{listing.odo}}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-gas-pump"></i> {{ listing.engine_type}}</div>
                <div class="col-6">
                  <i class="fas fa-car-side"></i> {{listing.type}}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> {{listing.dealer}}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> {{listing.list_date | timesince}}</div>
              </div>
              <hr>
              <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
          {% endfor %}
        {% else %}
        <div class="col-md-12">
          <p>No listings available</p>
        </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}